@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*���������*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Inter";
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #B3B3B3;
}

button {
    all: unset;
    cursor: pointer;
}

body {
    width: 100%;
    height: 100vh;
    padding: 8px;
    background: #000;
    gap: 8px;
    color: #B3B3B3;
    display: grid;
    grid-template-columns: 314px 1fr;
    grid-template-rows: 115px 1fr 70px;
}

.tabs {
    @include flex();
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    gap: 5px;
    padding: 15px;

    span {

        color: #B3B3B3;
        font-weight: 700;
    }
}

.home_tab,
.search_tab {
    @include flex();
    cursor: pointer;
    padding: 10px;
    gap: 20px;
    transition: .3s ease;
    width: 100%;
    justify-content: start;

    .home_icon,
    .search_icon {
        height: 21px;
        width: 21px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: .4s ease;
    }

    span {
        transition: .4s ease;
    }

    .home_icon {
        background-image: url("/icons/home_icon.svg");
    }

    .search_icon {
        background-image: url("/icons/search_icon.svg");
    }


    &:hover {
        .home_icon {
            filter: brightness(5);
        }

        .search_icon {
            filter: brightness(5);
        }

        span {
            color: #FFF;
        }
    }
}

.active_tab {
    .home_icon {
        background-image: url("/icons/home_icon_active.svg");
    }

    .search_icon {
        background-image: url("/icons/search_icon_active.svg");
    }

    span {
        color: #FFF;
    }
}

header,
aside,
main {
    border-radius: 8px;
    background: #121212;
}

header {
    grid-column: 1;
    grid-row: 1;
}

aside {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 2/2;
}

.main_container {
    max-width: 1028px;
}

main {
    grid-column: 2;
    grid-row: 1/3;
    position: relative;
    overflow: hidden;

    .main_cont {
        max-width: 95%;
        margin: 0 auto;
    }

    .nav_header {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        background: rgba(0, 0, 0, 0.0);

        .nav_btns {
            @include flex();
            gap: 10px;
        }

        .next_page,
        .prev_page {
            cursor: not-allowed;
            border-radius: 16px;
            opacity: 0.6;
            background: rgba(0, 0, 0, 0.70);
            width: 32px;
            height: 32px;
            @include flex();
        }

        .other_btns {
            @include flex();
            gap: 10px;

            .sign_up,
            .login {
                transition: .1s ease;

                &:hover {
                    scale: 1.03;
                }
            }

            .sign_up {
                font-size: 15px;
                font-weight: 700;
                padding: 15px 32px;

                &:hover {
                    filter: brightness(5);
                }
            }

            .login {
                color: #000;
                font-size: 15px;
                font-weight: 700;
                display: flex;
                padding: 15px 32px;
                justify-content: center;
                align-items: center;
                border-radius: 500px;
                background: #FFF;

                &:hover {
                    background: #e7f1ff;

                }
            }
        }
    }

    .nav_inner_header {
        height: 64px;
        @include flex();
        justify-content: space-between;
    }

    .container {
        overflow-y: auto;
        height: 100%;

        &::-webkit-scrollbar {
            // display: none;
            height: 1px;
            width: 12px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.30);

            &:hover {
                background: rgba(255, 255, 255, 0.431);

            }

            &:active {
                background: rgba(255, 255, 255, 0.715);

            }
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0.1);
        }

        .content {
            position: relative;
            padding-top: 75px;

            .content_after {
                position: absolute;
                width: 100%;
                height: 300px;
                background: #3d3d3d71;
                top: 0;
                left: 0;
                transition: .5s ease;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 150px;
                    background: linear-gradient(0deg, #000000, transparent);
                    bottom: 0;
                    left: 0;

                }
            }
        }

    }
}

footer {
    // cursor: pointer;
    @include flex();
    padding: 0 15px;
    justify-content: space-between;
    grid-column: 1/3;
    grid-row: 3/3;
    // background: linear-gradient(90deg, #AF2896 0%, #509BF5 100%);

    color: #FFF;

    // h2 {
    //     font-size: 12px;
    //     line-height: 19.2px;
    //     letter-spacing: 1.2px;
    //     text-transform: uppercase;
    // }

    // p {
    //     font-size: 15px;
    //     line-height: 25.6px;
    // }

    // button {
    //     color: #000;
    //     font-weight: 700;
    //     display: flex;
    //     padding: 15px 30px;
    //     justify-content: center;
    //     align-items: center;
    //     border-radius: 500px;
    //     background: #FFF;

    //     &:hover {
    //         background: #e7f1ff;
    //         scale: 1.03;
    //     }
    // }
}

.library {
    padding: 0px 6px;
    @include flex();
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;
}

.library_head {
    width: 100%;
    padding: 10px;
    @include flex();
    justify-content: space-between;

    .library_icon {
        @include flex();
        justify-content: start;
        height: 20px;
        cursor: pointer;
        padding-left: 40px;
        background-image: url("/icons/library_icon.svg");
        background-repeat: no-repeat;
        background-position: 5px 50%;
        background-size: 20px 20px;
        transition: .4s ease;

        &:hover {
            filter: brightness(5);
        }
    }

    h2 {
        font-size: 15px;
        font-weight: 700;
    }

    .create {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        position: relative;
        @include flex();
        transition: .3s ease;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            position: absolute;
            display: block;
            background: #A7A7A7;
            width: 14px;
            height: 2px;
        }

        &::before {
            rotate: 90deg;
        }


        &:hover {
            background-color: rgba(54, 54, 54, 0.569)
        }
    }

    .create:hover::before,
    .create:hover::after {
        filter: brightness(5);
    }
}

.library_main {
    width: 100%;
    padding: 10px 0px;
    @include flex();
    flex-direction: column;
    align-items: start;
    // height: 180px;
    // overflow-y: auto;
    gap: 25px;
    justify-content: start;

    &::-webkit-scrollbar {
        display: none;
        height: 1px;
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.30);

        &:hover {
            background: rgba(255, 255, 255, 0.6);

        }
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1);
    }

}

.option {
    @include flex();
    flex-direction: column;
    align-items: start;
    gap: 22px;
    width: 100%;
    border-radius: 8px;
    background: #242424;
    padding: 20px;

    h3 {
        font-size: 15px;
        color: #FFF;
        font-weight: 700;
    }

    p {
        color: #FFF;
        font-size: 12px;
    }

    button {
        cursor: pointer;
        border-radius: 500px;
        background: #FFF;
        color: #000;
        font-size: 13px;
        font-weight: 700;
        @include flex();
        padding: 8px 17px;
        transition: .1s ease;

        &:hover {
            background: #e7f1ff;
            scale: 1.03;
        }
    }
}

.link_cont {
    align-self: flex-end;
    padding: 20px;

    a {
        color: #A7A7A7;
        font-size: 9px;
        font-style: normal;
        font-weight: 600;
    }
}

.aside_links {
    @include flex();
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}

.lang {
    all: unset;
    @include flex();
    cursor: pointer;
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    padding: 6px 10px;
    gap: 4px;
    border-radius: 500px;
    border: 1px solid #727272;
    margin: 20px 0 0;
    transition: .1s ease;

    &:hover {
        border: 1px solid #FFF;
        scale: 1.05;

    }
}

.library_top {
    width: 100%;
}

.block {
    position: relative;
    z-index: 1;
}

.block {
    width: 100%;
}

.block_head {
    @include flex();
    justify-content: space-between;
    margin-bottom: 25px;

    .title {
        a {
            color: #FFF;
            font-size: 22px;
            font-weight: 700;
        }
    }

    .multi_title {
        a {
            font-size: 32px;
        }
    }


    .all {
        a {
            all: unset;
            cursor: pointer;
            font-size: 13px;
            font-weight: 700;
        }
    }

    .title,
    .all {
        transition: .3s ease;

        &:hover {
            text-decoration: underline;

        }
    }
}

.recently_played {
    flex-wrap: wrap;
}

.block_content {
    @include flex();
    align-items: start;
    justify-content: start;
    gap: 26px;
    overflow: auto;
    padding: 5px;

    &::-webkit-scrollbar {
        display: none;
        height: 12px;
        width: 1px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.30);

        &:hover {
            background: rgba(255, 255, 255, 0.431);

        }

        &:active {
            background: rgba(255, 255, 255, 0.715);

        }
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1);
    }


    .playlist {
        @include flex();
        justify-content: start;
        gap: 20px;
        background: #2F3030;
        position: relative;
        width: 32.16%;
        min-width: 400px;
        border-radius: 5px;
        transition: .3s ease;
        cursor: pointer;

        &:hover {
            .play {
                opacity: 1;
            }

            background: #4f5050;
        }

        img {
            width: 80px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .playlist_title {
            color: #FFF;
            font-size: 15px;
            font-weight: 700;
            margin-bottom: 5px;
        }

        .play {
            opacity: 0;

            img {
                width: 25px;
                height: 30px;
                position: absolute;
                top: 50%;
                left: 55%;
                translate: -50% -50%;
            }

            position: absolute;
            right: 20px;
            bottom: 50%;
            translate: 0 50%;
            @include flex();
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background: rgb(0, 203, 105);
            transition: .3s ease;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.500);

            &:hover {
                scale: 1.1;
                background: rgb(38, 255, 150);
            }


        }



    }

    .item {
        padding: 15px;
        border-radius: 6px;
        background: #181818;
        max-width: 175px;
        min-height: 259.78px;
        cursor: pointer;
        transition: .3s ease;

        &:hover {
            background: #292929;

            .play {
                opacity: 1;
                bottom: 10px;
            }
        }

        .item_img {
            margin-bottom: 20px;
            position: relative;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.479);

            img {
                border-radius: 5px;
                width: 145px;
                height: 145px;
            }
        }

        .play {
            img {
                width: 25px;
                height: 30px;
                position: absolute;
                top: 50%;
                left: 55%;
                translate: -50% -50%;
            }

            position: absolute;
            right: 10px;
            bottom: 0px;
            opacity: 0;
            @include flex();
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background: rgb(0, 203, 105);
            transition: .3s ease;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.637);

            &:hover {
                scale: 1.1;
                background: rgb(38, 255, 150);
            }




        }

        .item_title {
            color: #FFF;
            font-size: 15px;
            font-weight: 700;
            margin-bottom: 5px;
        }

        .item_descr {
            color: #A7A7A7;
            font-size: 13px;
            line-height: 22.4px;
        }
    }
}

.content {
    @include flex();
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-bottom: 50px;
}

.main_footer {
    @include flex();
    align-items: start;
    flex-direction: column;
    gap: 30px;
}

.links {
    @include flex();
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 50px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.links_left {
    @include flex();
    align-items: start;
    gap: 112px;

    h3 {
        color: #FFF;
        font-size: 15px;
        font-weight: 700;
    }
}

.links_right {
    @include flex();
    gap: 16px;

    a {
        all: unset;
        padding: 12px;
        border-radius: 20px;
        background: #292929;
        transition: .3s ease;

        &:hover {
            background: #4f4f4f;

        }
    }
}

.list,
.list ul {
    @include flex();
    align-items: start;
    flex-direction: column;
    gap: 20px;

    li {
        font-size: 15px;
        transition: .3s ease;

        &:hover {
            text-decoration: underline;
        }
    }
}

.copyright {
    padding: 20px 0 50px;

    p {
        color: #A7A7A7;
        font-size: 13px;
    }
}

.player {
    width: 100%;
    @include flex();
    justify-content: space-between;
}

.player_left {
    @include flex();
    justify-content: space-between;
    gap: 20px;
}

.track_img {
    border-radius: 7px;
}

.track_info {
    @include flex();
    flex-direction: column;
    align-items: start;
    gap: 7px;


    h2 {
        font-size: 13px;
    }

    p {
        color: #B3B3B3;
        font-size: 10px;
    }
}

.actions {
    @include flex();
    gap: 20px;

    button {
        transition: .3s ease;
        fill: #B2B2B2;

        &:hover {
            fill: #fff;
        }
    }
}

.player_center {
    @include flex();
    flex-direction: column;
}

.controls {
    @include flex();
    width: 100%;
    gap: 20px;

    .act {
        position: relative;

        &:hover {
            .clue {
                opacity: 1;
            }
        }
    }

    .play {
        img {
            filter: invert(1);
            width: 30px;
            height: 30px;

            &:hover {
                filter: invert(1);
                scale: 1.1;
            }
        }

    }

    .mix {
        width: 22px;
    }

    .prev,
    .next {
        width: 16px;
    }

    .replay {

        img {
            width: 18px;
        }

    }

    .connect {
        width: 22px;
    }

    .volume {
        @include flex();
        gap: 5px;

        .clue {
            left: 10px;
        }
    }

    .picture {
        .clue {
            left: -20px;

        }
    }

    button {
        all: unset;
        transition: .3s ease;

        &:hover {

            img {
                filter: brightness(5);
            }
        }
    }
}


.main_line {
    @include flex();
    gap: 10px;
    font-size: 12px;

    span {
        opacity: .5;
    }
}

.parent_line {
    padding: 10px 0;

    &:hover {
        .progress {
            background-color: #1db954;
            width: 10px;

            .progress-bar {
                display: block;
            }
        }
    }
}

.line {
    width: 600px;
    max-width: 600px;
    background-color: #4D4D4D;
    height: 4px;
    margin: 10px 0;
    border-radius: 1000px;
    position: relative;



    .progress {
        width: 0px;
        height: 100%;
        background-color: #fff;
        border-radius: 4px;
        position: absolute;
        transition: .1s ease;
    }

    .progress-bar {
        display: none;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #FFF;
        border-radius: 1000px;
    }
}

.volume_parent {
    padding: 10px 0;

    &:hover {
        .volume_point {
            display: block;
        }

        .volume_progressed {
            background: #1db954;
        }
    }
}

.volume_progress_bar {
    width: 100px;
    height: 4px;
    background-color: #4D4D4D;
    border-radius: 1000px;
}

.volume_progressed {
    border-radius: 1000px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
    transition: .1s ease;

    .volume_point {
        display: none;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #FFF;
        border-radius: 1000px;
    }
}


.clue {
    z-index: 1;
    opacity: 0;
    position: absolute;
    top: -50px;
    left: 50%;
    translate: -50% 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    background: #292929;
    white-space: nowrap;
    transition: .3s ease;
}